.contact {
	@include section-padding;

	background-color: rgba($color: #000000, $alpha: 0.15);

	&__boxes {
		display: flex;
		flex-direction: column;
	}

	&__box {
		width: 100%;
		box-shadow: 0px 0px 16px -5px rgb(0 0 0);
		background-color: rgba($color: #000000, $alpha: 0.4);
		display: flex;
		flex-direction: column;
		padding: 1em;

		@include respond(tablet) {
			flex-direction: row;
			padding: 2em;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		padding: 1em;
		border-bottom: 2px solid $orange;
		gap: 1em;

		@include respond(tablet) {
			border-bottom: none;
			border-right: 2px solid $orange;
		}

		&-title {
			text-transform: uppercase;
			letter-spacing: 1px;
			color: $snowy;
			text-shadow: 0px 5px 5px rgb(0 0 0 / 30%);

			@include respond(tablet) {
				font-size: $desktop-text;
			}

			@include respond(desktop) {
				font-size: $desktop-large-text;
			}
		}

		&-text {
			text-transform: uppercase;
			color: $snowy;
			line-height: 150%;
			text-shadow: 0px 5px 5px rgb(0 0 0 / 30%);

			@include respond(tablet) {
				font-size: $tablet-text;
			}
		}

		&-link {
			color: $orange;
			border-bottom: 2px solid rgba($color: $orange, $alpha: 0.5);
			transition: border-bottom 0.2s, background-color 0.2s;
			padding: 0.5em;
			display: flex;
			align-items: center;
			font-size: 1.3rem;
			gap: 1em;

			@include respond(mobile) {
				font-size: $mobile-text;
			}

			@include respond(tablet) {
				font-size: $tablet-text;
			}

			&:hover {
				background-color: rgba($color: $snowy, $alpha: 0.02);
				border-bottom: 2px solid $orange;
			}
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		padding: 1em;

		@include respond(tablet) {
			width: 100%;
		}

		&-row {
			display: flex;
			gap: 2em;
		}

		&-field {
			display: flex;
			flex-direction: column;
			position: relative;
			margin-block: 1em;
			width: 50%;

			&-textarea {
				width: inherit;
			}
		}
	}

	&__label {
		position: absolute;
		text-transform: uppercase;
		top: -15px;
		letter-spacing: 1px;
		color: rgba($color: $snowy, $alpha: 0.8);
		font-size: 1.35rem;

		@include respond(tablet) {
			font-size: 1.5rem;
		}
	}

	&__input,
	&__textarea {
		margin-block: 1em;
		padding: 0.8em;
		outline: none;
		background: none;
		border: none;
		width: 100%;
		border-bottom: 2px solid rgba($color: $orange, $alpha: 0.5);
		font-family: 'Roboto', sans-serif;
		color: rgba($color: $orange, $alpha: 0.5);
		transition: color 0.2s, border-bottom 0.2s, background-color 0.2s;
		display: block;

		@include respond(mobile) {
			font-size: $mobile-text;
		}

		&:focus,
		&:hover {
			color: $orange;
			background-color: rgba($color: $snowy, $alpha: 0.009);
			border-bottom: 2px solid $orange;
		}

		@include respond(tablet) {
			font-size: $tablet-text;
		}
	}

	&__textarea {
		resize: vertical;
		width: 100%;
		margin-bottom: 2em;
		min-height: 250px;
	}

	&__btn {
		padding: 1em;
		font-size: $mobile-text;
		text-transform: uppercase;
		font-weight: bold;
		color: $black;
		background-color: $orange;
		cursor: pointer;
		transition: background-color 0.2s;
		border: none;

		&:hover {
			background-color: $snowy;
		}
	}
}
